/* ...............client................................... */


.client-container{
    padding: 50px;
    background: rgba(0,0,0,.7) url('../../../public/drivers/backgroundcab.jpg') no-repeat center ;
    background-size: cover;
    background-blend-mode: darken;
}

.slider-container{
    padding: 50px 3px;
}


.client-container .one-client{

    width: 250px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
     overflow-y: hidden;

}


.client-container h1{
    color: white;
}
.client-container h4{
    color: #ffb300;
    text-align: center;
}
.client-container span{
    color: #ffb300;
}

.client-box{
    padding: 10px 5px;
    border-top: 4px solid #ffb300;
    border-bottom: 4px solid #ffb300;
    border-radius: 10px;
    height: 320px;
}
.client-first{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.client-first img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.client-container .react-multiple-carousel__arrow{
    display: none;
}

.client-container .react-multi-carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* ............................media query................................... */


@media(max-width:1200px) {
    .client-container .one-client{
        width: 220px;
    }
}
@media(max-width:1024px) {
    .client-container .one-client{
        width: 250px;
    }
}
@media(max-width:920px) {
    .client-container .one-client{
        width: 200px;
    }
}

@media(max-width:750px) {
    .client-container .one-client{
        width: 230px;
    }
}
@media(max-width:600px) {
    .client-container .one-client{
        width: 200px;
    }
}

@media(max-width:550px) {
    
    .slider-container{
        padding: 10px;
    }
    .client-container .one-client{
        width: 235px;
    }
    .client-container{
        padding: 15px;
    }

    h1{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
}

