.book-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background: rgba(0,0,0,0.7) url('../../../mycab/public/forslider/s4.jpg') no-repeat center ;
    background-size: cover;
    background-blend-mode: darken;
    height: 300px;
    
}

.typewriter{
    background-color: #ffb300;
    text-align: center;

}